# Laravel / PHP
/vendor/
/bootstrap/cache/
/storage/*.key
/storage/app/public
/storage/app/private
/storage/app/.cache
/storage/framework/*
!/storage/framework/.gitignore
/storage/logs/*
!/storage/logs/.gitignore

# Laravel specific
.env
.env.*.local
.phpunit.result.cache
Homestead.yaml
Homestead.json

# Livewire temporary files
/storage/framework/livewire-tmp

# NPM / Node
/node_modules/
/npm-debug.log
/yarn-error.log
/pnpm-debug.log

# Build / Vite
/public/build
/public/hot
/public/storage

# IDE & OS junk
/.idea
/.vscode
/.DS_Store
Thumbs.db

# Composer
composer.lock

# Coverage / Testing
coverage/
.phpunit.cache

# Logs
*.log

# Other
*.swp
*.swo